@charset "UTF8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: normal 15pt Arial, sans-serif;
}

body {
    background: rgb(55, 170, 237);
}

header {
    color: white;
    text-align: center;

}

h1 {
    padding: 20px 0px;
    font-weight: bold;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow:  3px 2px 3px rgba(0, 0, 0, 0.281);
}
div#msg {
    text-align: center;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: block;
    margin: auto
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    padding: 20px 0px;

}

